# 主要内容

这个notebook用来演示如何初始化sql交互环境，主要使用ipython-sql和魔法命令。

数据库的资料可以从这里下载：[Appendix A: Sample Table Scripts](https://forta.com/books/0135182794/)

如果使用Postgresql，可以直接下载：[PostgreSQL SQL scripts](https://forta.com/wp-content/uploads/books/0135182794/TYSQL5_PostgreSQL.zip)

In [1]:
import yaml
import os

# 加载 YAML 文件
def load_yaml_to_env(file_path):
    with open(file_path, 'r') as file:
        config = yaml.safe_load(file)

    # 遍历 YAML 文件内容，将值注册到环境变量
    for section, values in config.items():
        for key, value in values.items():
            env_key = f"{section.upper()}_{key.upper()}"
            os.environ[env_key] = str(value)

# 调用函数加载 YAML 文件并注册到环境变量，这个文件不会上传，可以参考 .env.yaml.template 文件配置自己的环境变量
load_yaml_to_env('./.env.yaml')

In [2]:
# 加载 ipython-sql 扩展
%load_ext sql

# 创建连接字符串（替换为你的数据库信息）
connection_string = f"postgresql://{os.environ['DATABASE_USER']}:{os.environ['DATABASE_PASSWORD']}@{os.environ['DATABASE_HOST']}:{os.environ['DATABASE_PORT']}/{os.environ['DATABASE_DBNAME']}"

# 连接到 PostgreSQL 数据库
%sql $connection_string

在使用 ipython-sql 扩展连接数据库时，通常不需要显式关闭数据库连接。ipython-sql 会自动管理连接的生命周期，确保在查询执行完成后正确关闭连接。
-- 大模型回答

In [3]:
%sql SELECT * FROM Customers LIMIT 3;

 * postgresql://postgres:***@localhost:5432/tysql
3 rows affected.

[('1000000001', 'Village Toys                                      ', '200 Maple Lane                                    ', 'Detroit                                           ', 'MI   ', '44444     ', 'USA                                               ', 'John Smith                                        ', 'sales@villagetoys.com                                                                                                                                                                                                                                          '),
 ('1000000002', 'Kids Place                                        ', '333 South Lake Drive                              ', 'Columbus                                          ', 'OH   ', '43333     ', 'USA                                               ', 'Michelle Green                                    ', None),
 ('1000000003', 'Fun4All                                           ', '1 Sunny Place                                     ', 'Muncie                                            ', 'IN   ', '42222     ', 'USA                                               ', 'Jim Jones                                         ', 'jjones@fun4all.com                                                                                                                                                                                                                                             ')]

In [4]:
# 执行 SQL 查询
%sql SELECT * FROM Customers LIMIT 5;

 * postgresql://postgres:***@localhost:5432/tysql
5 rows affected.

[('1000000001', 'Village Toys                                      ', '200 Maple Lane                                    ', 'Detroit                                           ', 'MI   ', '44444     ', 'USA                                               ', 'John Smith                                        ', 'sales@villagetoys.com                                                                                                                                                                                                                                          '),
 ('1000000002', 'Kids Place                                        ', '333 South Lake Drive                              ', 'Columbus                                          ', 'OH   ', '43333     ', 'USA                                               ', 'Michelle Green                                    ', None),
 ('1000000003', 'Fun4All                                           ', '1 Sunny Place                                     ', 'Muncie                                            ', 'IN   ', '42222     ', 'USA                                               ', 'Jim Jones                                         ', 'jjones@fun4all.com                                                                                                                                                                                                                                             '),
 ('1000000004', 'Fun4All                                           ', '829 Riverside Drive                               ', 'Phoenix                                           ', 'AZ   ', '88888     ', 'USA                                               ', 'Denise L. Stephens                                ', 'dstephens@fun4all.com                                                                                                                                                                                                                                          '),
 ('1000000005', 'The Toy Store                                     ', '4545 53rd Street                                  ', 'Chicago                                           ', 'IL   ', '54545     ', 'USA                                               ', 'Kim Howard                                        ', None)]